/* colors.co url https://coolors.co/03045e-023e8a-0077b6-0096c7-00b4d8-48cae4-90e0ef-ade8f4-caf0f8 */

:root {
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #034698;

    color: #000000;
    --secondary-text-color: #000627;

    --primary-button-color: #a5a5a5;
    --primary-button-hover-color: #a5a5ff;

    --primary-drop-shadow: drop-shadow(1px 1px 2px rgba(0, 0, 0, 66));
}

html[data-theme='light'] {
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #034698;

    color: #000000;
    --secondary-text-color: #000627;

    --primary-button-color: #a5a5a5;
    --primary-button-hover-color: #a5a5ff;
}

html[data-theme='dark'] {
    --primary-bg-color: #181818;
    --secondary-bg-color: #034698;

    color: #efefef;
    --secondary-text-color: #9baaff;

    --primary-button-color: #a5a5a5;
    --primary-button-hover-color: #a5a5ff;
}

body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    background-color: var(--primary-bg-color);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-bg-color);
}